<div class="grid">
  <% @pets.each do |pet| %>
    <div class="grid_item">
      <h4><%= pet.name %></h4>
      <img src="<%= pet.image %>" class="grid_img"><br>
      <%= pet.breed %><br>
      <%= pet.sex %><br>
      <%= pet.age_approx %> years of age<br>
      <%= pet.shelter.name %>
    </div>
  <% end %>
</div>
