<img src="<%= @pet.image %>">
<h2><%= @pet.name %></h2><br>
<%= @pet.breed %><br>
<%= @pet.description %><br>
<%= @pet.age_approx %><br>
<%= @pet.sex %><br>
<%= @adopt_status %><br>
<%= @pet.shelter.name %>
