<div class="grid">
  <div class="grid_item">
    <img src="<%= @pet.image %>" class="grid_img">
  </div>
  <div class="grid_item">
    <h2><%= @pet.name %></h2>
    <%= @pet.breed %>
    <br><br>
    <%= @pet.description %><br>
    <%= @pet.age_approx %><br>
    <%= @pet.sex %><br>
    <%= @adopt_status %><br>
    <%= @pet.shelter.name %>
    <br><br>
    <%= link_to 'Update', "/pets/#{@pet.id}/edit" %>
  </div>
</div>
